.starter-template{
    padding: 3rem 1.5rem;
    text-align: center;
}

#main{
    padding-bottom: 5rem;
}

.overlay{
    position: relative;
    top: -32.5%;
    left: 30%;
    height: 100%;
    width: 100%;
    background-color:#075FAC42;
    opacity: 0;
    transition: .75s ease;
}

.ctr{
    position: relative;
    transform: translate(-30%, -67.5%);
    -webkit-transform: translate(-30%, -67.5%);
    -ms-transform: translate(-30%, -67.5%);
    -moz-transform: translate(-30%, -67.5%);
    text-align: center;
    border-radius: 5px;
}

.imghov:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.btn-middle{
    position: absolute;
    top: 70%;
    left: 28%; 
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.modal-header {
    background-color: #8cc97b;
}

.modal-body{
    background-color: #f8f9fa;
}

.resize-img{
    width: 50%;
    height: auto;
}

.about-me-text{
    display: flex;
    align-items: center;
    text-align: initial;
    margin-left: 0.5rem;
}

.about-me-text p{
    color: #00203F;
}

.starter-template{
    min-height: 25rem;
    background-image: url('../props/SVG/DeliverYves_patroon_blauw_basis.svg');
    margin-bottom: 90rem;
}

.group-img-overlay{
    position: absolute;
    width: 66%;
    top: 48%;
    left: 17.5%; 
}

.group-img-overlay h4, p{
    color: #00203F;
}

.group-img-overlay h4::first-letter{
    font-size: 200%;
    color: #075fac;;
}

.lead{
    top: 130%;
    text-align: justify;
    padding: 0 2rem 2rem 2rem;
}


.modal-body p::first-letter {
    font-size: 200%;
    color: #8cc97b;
  }

.titel-team h4{
      text-align: center;
  }






