.starter-template{
    padding: 3rem 1.5rem;
    text-align: center;
    background-image: url('../props/SVG/DeliverYves_patroon_blauw_basis.svg');
}

#main{
    padding-bottom: 5rem;
}

.overlay{
    position: relative;
    top: -32.5%;
    left: 30%;
    height: 100%;
    width: 100%;
    background-color:#075FAC42;
    opacity: 0;
    transition: .75s ease;
}

.ctr{
    position: relative;
    transform: translate(-30%, -67.5%);
    -webkit-transform: translate(-30%, -67.5%);
    -ms-transform: translate(-30%, -67.5%);
    -moz-transform: translate(-30%, -67.5%);
    text-align: center;
    border-radius: 5px;
}

.imghov:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.btn-middle{
    position: absolute;
    top: 70%;
    left: 28%; 
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.modal-header {
    background-color: #8cc97b;
}

.modal-body{
    background-color: #f8f9fa;
}

.resize-img{
    width: 50%;
    height: auto;
}

.about-me-text{
    display: flex;
    align-items: center;
    text-align: initial;
    margin-left: 0.5rem;
}

.about-me-text p{
    color: #00203F;
}


.group-img-overlay{
    position: absolute;
    width: 66%;
    left: 17%; 
}

.lead h4, p{
    color: #00203F;
}

.lead h4::first-letter{
    font-size: 200%;
    color: #075fac;;
}

.lead{
    text-align: justify;
    width: 80%;
}


.modal-body p::first-letter {
    font-size: 200%;
    color: #8cc97b;
  }

.titel-team h4{
      text-align: center;
  }

.container-empty{
    border: 1x solid green;
}


/** Media Queries **/

/*styling zeer groot toestel*/
@media only screen and (min-width: 1440px){

    .container-header{
        margin-bottom: 15rem;
    }

    .starter-template{
        min-height: 30rem;
    }


    .group-img-overlay{
        top: 48%;
    }
    
}

/*styling groot toestel*/
@media only screen and (max-width: 1440px) and (min-width: 1024px){
    .container-header{
        margin-bottom: 20rem;
    }

    .starter-template{
        min-height: 20rem;
    }

    .group-img-overlay{
        top: 48%;
    }
    
}
/*styling middel toestel*/
@media only screen and (max-width: 1024px) and (min-width: 768px){

    .container-header{
        margin-bottom: 11rem;
    }

    .starter-template{
        min-height: 20rem;
    }

    .group-img-overlay{
        top: 38%;
    }

    
}
/*styling klein toestel*/
@media only screen and (max-width: 767px) and (min-width: 405px){ 

    .container-header{
        margin-bottom: 9rem;
    }

    .starter-template{
        min-height: 15rem;
    }

    .lead{
        font-size: 1rem;
        text-align: left;
    }

    .lead h4{
        font-size: 1rem;
    }
    
}


@media only screen and (max-width: 404px){

    .container-header{
        margin-bottom: 1rem;
    }

    .starter-template{
        min-height: 15rem;
    }

    .lead{
        font-size: 1rem;
        text-align: left;
    }

    .lead h4{
        font-size: 1rem;
    }
   

}







