:root{
    --darkbleu: #00203F;
    --logobleu: #075fac;
    --logogreen: #8cc97b;
    --logolightgreen: #abd3a0;
    --gray: #f8f9fa;
}

*{
    color: var(--logobleu);
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#navigation-nav{
    min-height: 170px;
}

.dark{
    color: var(--darkbleu);
}

.navbar-nav{
    min-height: 130px;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.nav-link img{
    display: block;
    margin: auto;
}
.nav-link img:hover{
    display: block;
    margin: auto;
}

.nav-link p{
    text-align: center;
}


#melkP{
    margin-left: 5px;
}

.headingP{
    color: var(--darkbleu);
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-header{
    margin-top: 20px;
}

.img-marketing{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.navbar-nav{
    margin-top: 15px;
    width: 100%;
  }

  .featurette-heading{
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 50px;
}

.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: var(--darkbleu);
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: var(--logobleu);
    border: none;
    cursor: pointer;
}

.cta{
    text-align: center;
    border-radius: .1875rem;
    transition: 0.3s ease-in-out;
    display: inline-block;
    text-decoration: none;
    border: 0;
    font-weight: 600;
    line-height: 1.5em;
    background-color: #8cc97b;
    color: #fff;
    border: 1px solid #8cc97b;
    ;
    font-size: .9rem;
    margin-top: 28px;
}

.cta:hover{
    background-color: #abd3a0;
    color: #fff;
    border: 1px solid #abd3a0;
}
.navbar-brand{
    margin-right: 0;
    margin-left: 25px;
}
.lead{
    color: var(--darkbleu);
}
.white{
    color: white;
    
}

.carousel-caption h1{
font-size: 2.5rem;

}

.carousel-caption P{
    font-size: 1.5rem;
    }

.DarkBlue{
    color: var(--darkbleu);
}
.imgProduct img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: table-row;
    margin:auto;
}

.product-info p{
    color: var(--darkbleu);
    text-align: center;
}

.product-item{
    margin-top: 20px;
}

.title{
    margin-top: 20px;
}

.headerProduct h2{
    margin: auto;
}

.product-info{
    margin: auto;
}

.panoramaImg{
    filter: brightness(80%);
}

/*FAQ Section*/

#faq-title {
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--logobleu);
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.container-md {
    width: 70%;
}


/*
#faq-btn:not(.collapse) {
    background-color: #075FAC;
    color: #ffff;
}*/

/*
#faq-btn:not(.collapse) {
    background-color: #ffff;
    color: #075FAC;
}*/

.faq-btn{
    color: #075FAC;
}

.faq-accordion-body, ul, li{
    color: #212529;
    font-weight: lighter;
    font-size: 1rem;
}


/* grijze tekst optie 1
#faq-accordion-body{
    color: #212529;
    background-color: var(--gray);
    font-weight: lighter;
    font-size: 1rem;
}*/


#faq-accordion-item{
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,.125)
}


/*styling zeer groot toestel*/
@media only screen and (min-width: 1440px){

    .navbar-nav{
        justify-content: space-evenly;
    }

    .nav-link img{
        height: 40px;
    }
    .nav-link img:hover{
        height: 50px;
    }


    #logoimage{
        padding-bottom: 5px;
        height: 170px;
        margin-right: 50px;
    }

    .cta{
        min-width: 15%;
        width: 15rem;
        height: 3rem;
        text-align: center;
        padding-top: 10px;
        margin: auto;
        display: block;
    }
    #contact{
        display: flex;
        align-items: center;
    }

    #myCarousel{
        height: 600px;
    }

    .imgProduct img, .headerProduct h2, .product-info {
        width: 250px;
        margin-top: 15px;
    }

    .headerProduct h2{
        font-size: 1.5rem;
    }
    

    #h1Div{
      margin-left: 73px;
    }

    .featurette-heading{
        margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }

    .objectDown{
        object-position: bottom;
    }
    
}

/*styling groot toestel*/
@media only screen and (max-width: 1440px) and (min-width: 1024px){

    .navbar-nav{
        justify-content: space-evenly;
    }

    .nav-link img{
        height: 40px;
    }
    .nav-link img:hover{
        height: 50px;
    }

    #logoimage{
        padding-bottom: 5px;
        height: 170px;
        margin-right: 50px;
    }
    .cta{
        min-width: 15%;
        width: 10rem;
        height: 2.5rem;
        text-align: center;
        padding-top: 8px;
        margin: auto;
        display: block;
    }
    #contact{
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    #myCarousel{
        height: 500px;
    }

    .imgProduct img, .headerProduct h2, .product-info {
        width: 200px;
    }

    #h1Div{
        margin-left: 20px;
      }

    .headerProduct h2 {
        font-size: 1.3rem;
    }

    .featurette-heading{
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .objectDown{
        object-position: bottom;
    }

    
}
/*styling middel toestel*/
@media only screen and (max-width: 1023px) and (min-width: 768px){

    .nav-item{
        margin-right: 2rem;
        min-width: 70px;
    }

    .nav-link img{
        height: 30px;
        display: none;
    }
    .nav-link img:hover{
        height: 40px;
    }

    #logoimage{
        padding-bottom: 5px;
        height: 100px;
    }

    .cta{
        min-width: 15%;
        width: 10rem;
        height: 2.5rem;
        text-align: center;
        padding-top: 8px;
        margin: auto;
        display: block;
    }
    #contact{
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    .imgProduct img, .headerProduct h2, .product-info {
        width: 200px;
    }

    .headerProduct h2{
        font-size: 1.3rem;
    }

    #myCarousel{
        height: 400px;
    }
    .carousel-caption P{
        font-size: 1.5rem;
    }

    .featurette-heading{
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    .dropdown-menu li {
        display: flex;
        padding: 10px 0 0 30px;
    }
    
    .dropdown-menu {
        background: #F8F9FA;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        display: flex;
        flex-wrap: wrap;
        width: 85%;
    }

}
/*styling klein toestel*/
@media only screen and (max-width: 767px) and (min-width: 405px){ 
    .nav-item{
        margin-right: 10px;
        min-width: 70px;
    }

    .nav-link img{
        height: 30px;
        display: none;
    }
    .nav-link img:hover{
        height: 40px;
    }

    .cta{
        min-width: 15%;
        width: 60%;
        height: 3rem;
        text-align: center;
        padding-top: 10px;
        margin: auto;
        display: block;
    }

    .imgProduct img, .headerProduct h2, .product-info {
        width: 230px;
    }

    .headerProduct h2{
        font-size: 1.5rem;
    }

    #myCarousel{
        height: 400px;
    }

    .carousel-caption P{
        font-size: 1.5rem;
    }

    .featurette-heading{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .dropdown-menu li {
        display: flex;
        padding: 10px 0 0 30px;
    }
    
    .dropdown-menu {
        background: #F8F9FA;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
}

@media only screen and (max-width: 404px){
    .nav-item{
        margin-right: 10px;
        min-width: 70px;
    }

    .nav-link img{
        height: 30px;
        display: none;
    }

    .nav-link img:hover{
        height: 40px;
    }

    .nav-link p{
        text-align: left;
    }

    .navbar-brand {
       position: absolute;
       right: 0;
       top: 0; 
    } 

    #logoimage{
        padding-bottom: 5px;
        height: 70px;
    }

    #navigationHeader{
        min-height: 75px;
    }

    .cta{
        min-width: 15%;
        width: 60%;
        height: 3rem;
        text-align: center;
        padding-top: 10px;
        margin: auto;
        display: block;
    }

    .imgProduct img, .headerProduct h2, .product-info {
        width: 200px;
    }

    #myCarousel{
        height: 300px;
    }

    .carousel-caption P{
        font-size: 1rem;
        }

    #cheers{
        margin-bottom: 30px;
        }

    .carousel-caption h1{
        font-size: 1.5rem;
    }

    .featurette-heading{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .dropdown-menu li {
        display: flex;
        padding: 10px 0 0 30px;
    }
    
    .dropdown-menu {
        background: #F8F9FA;
        width: 70%;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    }

}

/**/

.dropdown-link {
    display: flex;
    justify-content: start;
    padding: 0px;
}

.dropdown-toggle::after{
    margin-top: 0.9rem;
    margin-left: 0.5rem;
}


/*nog niet verplaatsen*/

.nav-onze-dranken{
    margin-top: 20px;
    display: inline;
}

.dropdown-onze-dranken li {
    display: inline-flex;
    padding: 10px 0 0 30px;
    align-items: center;
}

.dropdown-onze-dranken {
    background: #F8F9FA;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    min-width: 50rem;
    min-height: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.first-row-dropdown, .second-row-dropdown{
    border: 1px solid blue;
    display: flex;
}

ul .dropdown-onze-dranken{
    display: flex;
    justify-content: space-evenly;
}


.dropdown-link {
    display: inline-flex;
    flex-direction: column;
}








