:root {
  --darkbleu: #00203f;
  --dellbleu: #3287c1;
  --delldarkblue: #1b7fc2;
  --dellgray: #636363;
  --dellblack: #0e0e0e;
  --delllightgray: #f9f9f9;
  --logogreen: #8cc97b;
  --logolightgreen: #abd3a0;
  --gray: #f8f9fa;
  --bleugreen: #1E96A6;
  --powderbleu: #B5D9D9;
  --floralwhite: #F6F5F3;
  --bistre: #412518;
  --coconuthusk: #795D43;

}

* {
  color: var(--dellblack);
  padding: 0;
  font-family: inherit;
}

hr {
  background-color: var(--dellbleu);
  margin-left: 20px;
  margin-right: 20px;
}

#navigation-nav {
  min-height: 170px;
}

.navbar-nav {
  min-height: 130px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.nav-link img {
  display: block;
  margin: auto;
}
.nav-link img:hover {
  display: block;
  margin: auto;
}

.nav-link p {
  text-align: center;
}

#melkP {
  margin-left: 5px;
}

.headingP {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-header {
  margin-top: 40px;
}

.img-marketing {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.navbar-nav {
  margin-top: 15px;
  width: 100%;
}

.featurette-heading {
  line-height: 1;
  letter-spacing: -0.05rem;
  font-weight: 300;
}


.cta,
.submitButton {
  text-align: center;
  border-radius: 0.1875rem;
  transition: 0.3s ease-in-out;
  display: inline-block;
  text-decoration: none;
  border: 0;
  font-weight: 600;
  line-height: 1.5em;
  background-color: var(--dellgray);
  color: #fff;
  border: 1px solid var(--bistre);
  font-size: 0.9rem;
  margin-top: 28px;
}

.cta:hover,
.submitButton:hover {
  background-color: var(--delldarkblue);
  color: #fff;
  border: 1px solid var(--darkbleu);
}
.navbar-brand {
  margin-right: 0;
  margin-left: 25px;
}
.lead {
  font-size: 1.25rem;
  font-weight: 200;
}
.white {
  color: white;
}

.carousel-caption h1 {
  font-size: 2.5rem;
}

.carousel-caption P {
  font-size: 1.5rem;
}

.imgProduct img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: table-row;
  margin: auto;
}

.product-info p {
  color: var(--dellbleu);
  text-align: center;
}

.product-item {
  margin-top: 20px;
}

.title {
  margin-top: 20px;
}

.headerProduct h2 {
  margin: auto;
}

.product-info {
  margin: auto;
}

.panoramaImg {
  filter: brightness(80%);
}

.Angled {
  position: absolute;
}

/*FAQ Section*/

#faq-title {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  background-image: url(../props/SVG/DeliverYves_patroon_blauw_groot.svg);
  background-repeat: no-repeat;
  background-size: 2000px 1500px;
  background-position: 50%;
  border-radius: 0.1875rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.container-md {
  width: 70%;
}

#faq-btn {
  color: var(--dellbleu);
}

.faq-accordion-body,
ul,
li {
  color: #212529;
  font-weight: lighter;
  font-size: 1rem;
}

#faq-accordion-item {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.dropdown-link,
.dropdown-item:hover {
  color: var(--dellbleu);
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.dropdown-p {
  color: var(--dellbleu);
  text-align: center;
  width: 100%;
}
.LinkConditions {
  color: #212529;
  font-weight: 100;
  margin-left: 10px;
}

.dropdown-item-specials {
  text-align: center;
  background-color: var(--dellgray);
  color: white;
  padding: 0;
  width: 100px;
  margin: auto;
}

.dropdown-item-specials:hover {
  text-align: center;
  background-color: var(--dellgray);
  color: var(--dellbleu);
  padding: 0;
  width: 100px;
  margin: auto;
}

.dropdown-item:hover {
  text-align: center;
}

.dropdown-link {
  display: flex;
  justify-content: start;
  padding: 0px;
}

/*Dropdown*/
.dropdown-toggle::after {
  margin-top: 0.9rem;
  margin-left: 0.5rem;
  position: relative;
  width: 3px;
  left: 7.5rem;
  top: -3rem;
}

.nav-onze-dranken {
  margin-top: 20px;
  display: inline;
}

.dropdown-onze-dranken li {
  display: inline-flex;
  padding: 10px 0 0 30px;
  align-items: center;
}

.nav-link {
  display: inline-flex;
  flex-direction: column;
}

/*Drop down onze dranken*/
.dropdown-menu.show {
  top: 6rem;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  background-color: var(--dellgray);
  display: flex;
}

.drinks-icon {
  width: 40px;
  height: 40px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.h-2 li a {
  padding: 0;
  width: 100px;
  margin: auto;
}

.h-2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ActionButtons {
  position: absolute;
  width: 90% !important;
  right: 5%;
  bottom: 10px;
}

.btn-outline-primary {
  border-color: var(--delldarkblue);
  background-color: var(--dellbleu);
  color: white;
}

.callToActionDiv {
  background-color: var(--dellbleu);
}

.callToActionDiv h1 {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
}

.actionButtonHeader {
  position: relative;
}

.li-lead {
  font-weight: 100;
  color: black;
  font-size: 1.25rem;
}

.custom-header {
  background-color: var(--dellgray);
}

.custom-header h4 {
  color: white;
  font-size: 1.25rem;
}

/*styling zeer groot toestel*/
@media only screen and (min-width: 1440px) {
  .navbar-nav {
    justify-content: space-evenly;
  }

  .nav-link img {
    height: 40px;
  }
  .nav-link img:hover {
    height: 50px;
  }

  #logoimage {
    padding-bottom: 5px;
    height: 50px;
    margin-right: 50px;
  }

  .cta {
    min-width: 15%;
    width: 15rem;
    min-height: 3rem;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    display: block;
  }

  .submitButton {
    min-width: 15%;
    width: 15rem;
    height: 3rem;
    text-align: center;
    margin: auto;
    display: block;
  }

  #contact {
    display: flex;
    align-items: center;
  }

  #myCarousel {
    height: 500px;
  }

  .imgProduct img,
  .headerProduct h2,
  .product-info {
    width: 250px;
    margin-top: 15px;
  }

  .headerProduct h2 {
    font-size: 1.2rem;
  }

  #h1Div {
    margin-left: 73px;
  }

  .featurette-heading {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .objectDown {
    object-position: bottom;
  }

  .dropdown-direction {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .dropdown-menu.show {
    width: 800px;
    min-height: 150px;
  }
  .objectUp {
    object-position: top;
  }

  .Angled {
    font-size: 2.8rem !important;
    left: -100px;
    bottom: 300px;
    width: 300px;
  }

  .dropdown-item-specials {
    padding: 0.8rem;
  }

  .flex-row:first-child {
    margin-left: 10px;
  }

  .flex-row:last-child {
    margin-right: 10px;
  }

  .flex-row {
    width: 100%;
    margin: 5px;
  }

  .card-body {
    min-height: 350px;
  }

  .actionButtonHeader {
    top: -250px;
    right: -550px;
    width: 300px !important;
  }

  .callToActionDiv {
    height: 375px;
    color: white;
    margin-top: 58px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .custom-header {
    min-height: 50px;
  }

  .cta-button {
    min-height: 50px;
  }
}

/*styling groot toestel*/
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .navbar-nav {
    justify-content: space-evenly;
  }

  .nav-link img {
    height: 40px;
  }
  .nav-link img:hover {
    height: 50px;
  }

  #logoimage {
    padding-bottom: 5px;
    height: 50px;
    margin-right: 50px;
  }
  .cta {
    min-width: 15%;
    width: 10rem;
    min-height: 2.5rem;
    text-align: center;
    padding-top: 8px;
    margin: auto;
    display: block;
  }

  .submitButton {
    min-width: 15%;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    margin: auto;
    display: block;
  }

  #contact {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  #myCarousel {
    height: 350px;
  }

  .imgProduct img,
  .headerProduct h2,
  .product-info {
    width: 200px;
  }

  #h1Div {
    margin-left: 20px;
  }

  .headerProduct h2 {
    font-size: 1.1rem;
  }

  .featurette-heading {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  .objectDown {
    object-position: bottom;
  }

  .dropdown-direction {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .objectUp {
    object-position: top;
  }

  .Angled {
    font-size: 2.5rem !important;
    left: -100px;
    bottom: 290px;
    width: 250px;
  }

  .dropdown-item-specials {
    padding: 0.8rem;
  }

  .flex-row:first-child {
    margin-left: 10px;
  }

  .flex-row:last-child {
    margin-right: 10px;
  }

  .flex-row {
    width: 100%;
    margin: 5px;
  }

  .callToActionDiv {
    height: 344px;
  }
  .callToActionDiv {
    height: 307px;
    color: white;
    margin-top: 38px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .callToActionDiv h1 {
    font-size: 1.7rem;
  }

  .actionButtonHeader {
    top: -250px;
    right: -350px;
    width: 300px !important;
  }

  .card-body {
    min-height: 450px;
  }

  .custom-header {
    min-height: 90px;
  }

  .cta-button {
    min-height: 60px;
  }
}
/*styling middel toestel*/
@media only screen and (max-width: 1024px) and (min-width: 990px) {
  .navbar-nav {
    justify-content: space-evenly;
  }

  .nav-item {
    margin-right: 2rem;
    min-width: 70px;
  }

  .nav-link img {
    height: 30px;
  }
  .nav-link img:hover {
    height: 40px;
  }

  #logoimage {
    padding-bottom: 5px;
    height: 50px;
  }

  .cta {
    min-width: 15%;
    width: 10rem;
    min-height: 2.5rem;
    text-align: center;
    padding-top: 8px;
    margin: auto;
    display: block;
  }

  .submitButton {
    min-width: 15%;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    margin: auto;
    display: block;
  }
  #contact {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .imgProduct img,
  .headerProduct h2,
  .product-info {
    width: 200px;
  }

  .headerProduct h2 {
    font-size: 1.1rem;
  }

  #myCarousel {
    height: 400px;
  }
  .carousel-caption P {
    font-size: 1.5rem;
  }

  .featurette-heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.7rem;
  }

  .dropdown-menu li {
    display: flex;
  }

  .dropdown-menu {
    background: #f8f9fa;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  }

  .dropdown-direction {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .navbar-nav {
    justify-content: space-evenly;
  }

  .objectDown {
    object-position: bottom;
  }

  .objectUp {
    object-position: top;
  }

  .Angled {
    font-size: 2.2rem !important;
    left: -80px;
    bottom: 200px;
    width: 180px;
  }

  .dropdown-item-specials {
    padding: 0.8rem;
  }

  .flex-row:first-child {
    margin-left: 10px;
  }

  .flex-row:last-child {
    margin-right: 10px;
  }

  .flex-row {
    width: 100%;
  }

  .card-body {
    min-height: 400px;
    margin-bottom: 100px;
  }

  .callToActionDiv {
    height: 286px;
  }

  .callToActionDiv {
    height: 307px;
    color: white;
    margin-top: 38px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .callToActionDiv h1 {
    font-size: 1.7rem;
  }

  .actionButtonHeader {
    right: -230px;
    top: -150px;
    width: 200px !important;
  }

  .custom-header {
    min-height: 90px;
  }

  .cta-button {
    min-height: 60px;
  }
}

/*styling middel-klein toestel*/
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .navbar-nav {
    justify-content: space-evenly;
  }

  .nav-item {
    margin-right: 2rem;
    min-width: 70px;
  }

  .nav-link img {
    height: 30px;
  }
  .nav-link img:hover {
    height: 40px;
  }

  #logoimage {
    padding-bottom: 5px;
    height: 50px;
  }

  .cta {
    min-width: 15%;
    width: 10rem;
    min-height: 2.5rem;
    text-align: center;
    padding-top: 8px;
    margin: auto;
    display: block;
  }

  .submitButton {
    min-width: 15%;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    margin: auto;
    display: block;
  }
  #contact {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .imgProduct img,
  .headerProduct h2,
  .product-info {
    width: 200px;
  }

  .headerProduct h2 {
    font-size: 1.1rem;
  }

  #myCarousel {
    height: 400px;
  }
  .carousel-caption P {
    font-size: 1.5rem;
  }

  .featurette-heading {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.7rem;
  }

  .dropdown-menu li {
    display: flex;
  }

  .dropdown-menu {
    background: #f8f9fa;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  }

  .dropdown-direction {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .navbar-nav {
    justify-content: space-evenly;
  }

  .objectDown {
    object-position: bottom;
  }

  .objectUp {
    object-position: top;
  }

  .Angled {
    font-size: 2.2rem !important;
    left: -80px;
    bottom: 200px;
    width: 180px;
  }

  .dropdown-item-specials {
    padding: 0.8rem;
  }

  .flex-row:first-child {
    margin-left: 10px;
  }

  .flex-row:last-child {
    margin-right: 10px;
  }

  .flex-row {
    width: 100%;
  }

  .card-body {
    min-height: 400px;
    margin-bottom: 100px;
  }

  .callToActionDiv {
    height: 286px;
  }

  .callToActionDiv {
    height: 307px;
    color: white;
    margin-top: 38px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .callToActionDiv h1 {
    font-size: 1.7rem;
  }

  .actionButtonHeader {
    right: -230px;
    top: -150px;
    width: 200px !important;
  }

  .card-body {
    min-height: 520px;
  }

  .custom-header {
    min-height: 90px;
  }

  .cta-button {
    min-height: 60px;
  }
}
/*styling klein toestel*/
@media only screen and (max-width: 767px) and (min-width: 405px) {
  .nav-item {
    margin-right: 10px;
    min-width: 70px;
  }

  .nav-link img {
    height: 30px;
    display: none;
  }
  .nav-link img:hover {
    height: 40px;
  }

  .cta {
    min-width: 15%;
    width: 60%;
    min-height: 3rem;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    display: block;
  }

  .submitButton {
    min-width: 15%;
    width: 60%;
    height: 3rem;
    text-align: center;
    margin: auto;
    display: block;
  }

  .imgProduct img,
  .headerProduct h2,
  .product-info {
    width: 230px;
  }

  .headerProduct h2 {
    font-size: 1.1rem;
  }

  #myCarousel {
    height: 400px;
  }

  .carousel-caption P {
    font-size: 1.5rem;
  }

  .featurette-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }

  .dropdown-menu {
    background: #f8f9fa;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  }

  .dropdown-direction {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .dropdown-menu li {
    display: flex;
  }
  .dropdown-menu li img {
    margin-left: 10px;
  }

  .dropdown-menu.show {
    position: absolute;
    width: 70%;
  }

  ul.dropdown-menu.show {
    top: 3rem;
  }

  .objectDown {
    object-position: bottom;
  }

  .objectUp {
    object-position: top;
  }

  .Angled {
    display: none;
  }

  .flex-row {
    margin-left: 25%;
    margin-top: 5px;
    width: 80%;
  }

  .types {
    padding: 0;
    margin-left: 20%;
  }
  #logoimage {
    padding-bottom: 5px;
    height: 50px;
  }

  .card-body {
    padding-bottom: 60px;
  }

  .callToActionDiv {
    height: 390px;
    width: 250px;
    margin: auto;
  }

  .actionButtonHeader {
    top: -100px;
    width: 200px !important;
  }

  .cta-button {
    height: 50px;
  }
}

@media only screen and (max-width: 404px) {
  .nav-item {
    margin-right: 10px;
    min-width: 70px;
  }

  .nav-link img {
    height: 30px;
    display: none;
  }

  .nav-link img:hover {
    height: 40px;
  }

  .nav-link p {
    text-align: left;
  }

  .navbar-brand {
    position: absolute;
    right: 0;
    top: 0;
  }
  #logoimage {
    padding-bottom: 5px;
    height: 70px;
    margin-right: 20px;
  }

  #navigationHeader {
    min-height: 75px;
  }

  .cta {
    min-width: 15%;
    width: 60%;
    min-height: 3rem;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    display: block;
  }

  .imgProduct img,
  .headerProduct h2,
  .product-info {
    width: 200px;
  }

  #myCarousel {
    height: 300px;
  }

  .carousel-caption P {
    font-size: 1rem;
  }

  #cheers {
    margin-bottom: 30px;
  }

  .carousel-caption h1 {
    font-size: 1.5rem;
  }

  .featurette-heading {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }

  .objectDown {
    object-position: bottom;
  }

  .dropdown-menu li {
    display: flex;
  }

  .dropdown-menu {
    background: #f8f9fa;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  }

  .dropdown-direction {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .objectUp {
    object-position: top;
  }

  .Angled {
    display: none;
  }
  .headerProduct h2 {
    font-size: 1.1rem;
  }
  .carousel-caption {
    padding-bottom: 0rem;
  }

  #carousel-padding-bottom {
    padding-bottom: 8rem;
  }

  .flex-row {
    margin-left: 10%;
    margin-top: 5px;
  }

  .flex-row {
    width: 80%;
  }

  .card-body {
    padding-bottom: 60px;
  }

  .callToActionDiv {
    height: 300px;
    width: 200px;
    margin: auto;
  }

  .actionButtonHeader {
    top: -80px;
    width: 200px !important;
  }

  .cta-button {
    height: 160px;
  }
}
