<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/logo/DeliverYvesLogo.svg" type="image/svg+xml" sizes="16x16">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <title>DeliverYves</title>
</head>
<body>
    <header>
        <nav id="navigationHeader" class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><img id="logoimage" src="/logo/DeliverYvesLogo.svg" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active nav-header" aria-current="page" href="water.html">
                        <img src="/icons/png/iconfinder_plastic_1118197.png" alt="">
                        <p class="headingP">Water</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active nav-header" aria-current="page" href="frisdrank.html">
                        <img src="/icons/png/iconfinder_Coke-botle-cola-soda_3876748.png" alt="">
                        <p class="headingP">Frisdrank</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active nav-header" aria-current="page" href="zuivel.html">
                        <img src="/icons/png/iconfinder_Milk_5727017.png" alt="">
                        <p class="headingP" id="melkP">Zuivel</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active nav-header" aria-current="page" href="bier.html">
                        <img src="/icons/png/iconfinder_l-23_3573685.png" alt="">
                        <p class="headingP">Bier</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active nav-header" aria-current="page" href="fruitsap.html">
                        <img src="/icons/png/iconfinder_splash-juice-orange-mango-vector-fruit_2832288.png" alt="">
                        <p class="headingP">Fruitsap</p>
                    </a>
                  </li>
                  <li class="nav-item" id="apero">
                    <a class="nav-link active nav-header"  aria-current="page" href="apero.html">
                        <img src="/icons/png/iconfinder_hand_drawn-54_2607369.png" alt="">
                        <p class="headingP">Apéro</p>
                    </a>
                  </li> 
                  <li class="nav-item" id="contact">
                    <a href="contact.html" class="cta">Contacteer ons</a>
                  </li>
                </ul>
              </div>
              
            </div>
          </nav>
    </header>
    <section class="section-padding sale-products bg-light-orange">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="product-item main-box mb-xl-20">
                <div class="headerProduct">
                    <h2>Jupiler</h2>
                </div>
                <div class="imgProduct">
                    <img src="../images/R0057957.jpg" alt="image">
                </div>
                <div class="product-info">
                  <p>€/Liter (coming soon)</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="product-item main-box mb-xl-20">
                <div class="headerProduct">
                    <h2>Stella Artois</h2>
                </div>
                <div class="imgProduct">
                    <img src="../images/R0057961.jpg" alt="image">
                </div>
                <div class="product-info">
                  <p>€/Liter (coming soon)</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="product-item main-box mb-xl-20">
                <div class="headerProduct">
                    <h2>Maes</h2>
                </div>
                <div class="imgProduct">
                    <img src="../images/R0057951.jpg" alt="image">
                </div>
                <div class="product-info">
                  <p>€/Liter (coming soon)</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="product-item main-box mb-xl-20">
                <div class="headerProduct">
                    <h2>Brugse zot</h2>
                </div>
                <div class="imgProduct">
                    <img src="../images/dranken_web res_42.jpg" alt="image">
                </div>
                <div class="product-info">
                  <p>€/Liter (coming soon)</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="product-item main-box mb-xl-20">
                <div class="headerProduct">
                    <h2>Sport zot</h2>
                </div>
                <div class="imgProduct">
                    <img src="../images/dranken_web res_40.jpg" alt="image">
                </div>
                <div class="product-info">
                  <p>€/Liter (coming soon)</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="product-item main-box mb-xl-20">
                <div class="headerProduct">
                    <h2>Duvel</h2>
                </div>
                <div class="imgProduct">
                    <img src="../images/R0057970.jpg" alt="image">
                </div>
                <div class="product-info">
                  <p>€/Liter (coming soon)</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="product-item main-box mb-xl-20">
                <div class="headerProduct">
                    <h2>Westmalle tripel</h2>
                </div>
                <div class="imgProduct">
                    <img src="../images/dranken_web res_43.jpg" alt="image">
                </div>
                <div class="product-info">
                  <p>€/Liter (coming soon)</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="product-item main-box mb-xl-20">
                <div class="headerProduct">
                    <h2>Lindemans Kriek</h2>
                </div>
                <div class="imgProduct">
                    <img src="../images/R0057965.jpg" alt="image"> 
                </div>
                <div class="product-info">
                  <p>€/Liter (coming soon)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
      <script src="js/index.js"></script>
</body>
</html>
