<!DOCTYPE html>
<html lang="nl">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9S544K05EP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9S544K05EP');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/over-ons.css">
    <link rel="icon" href="/logo/DeliverYves.png" type="image/svg+xml" sizes="16x16">
    <title>DeliverYves</title>
</head>
<body>
  <header>
    <nav id="navigationHeader" class="navbar navbar-expand-lg navbar-light bg-light rounded"
        aria-label="Eleventh navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><img id="logoimage" src="/logo/DeliverYvesLogo.svg" alt="DeliverYves logo"></a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown nav-onze-dranken">
                        <a class="nav-link dropdown-toggle" id="navbarAdvancedDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false" aria-current="page" href="#">
                            <img class="nav-icon" src="/icons/png/cocktail.png" alt="dranken">
                            <p class="headingP">Onze dranken</p>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarAdvancedDropdown">
                          <div class=w-100>
                          <div class="dropdown-direction w-100 mt-3">
                              <li class="flex-row dropdown-item types">
                                  <a class="dropdown-link" href="/views/water.html">
                                  <img class="drinks-icon" src="/icons/png/iconfinder_plastic_1118197.png" alt="Water">
                                  <p class="dropdown-p">water</p>
                                  </a>
                              </li>
                              <li class="flex-row dropdown-item types">
                                  <a class="dropdown-link" href="/views/frisdrank.html">
                                  <img class="drinks-icon" src="/icons/png/iconfinder_Coke-botle-cola-soda_3876748.png" alt="Frisdrank">
                                  <p class="dropdown-p">Frisdrank</p>
                                  </a>
                              </li>
                              <li class="flex-row dropdown-item types">
                                  <a class="dropdown-link" href="/views/zuivel.html">
                                      <img class="drinks-icon" src="/icons/png/iconfinder_Milk_5727017.png" alt="Zuivel">
                                      <p class="dropdown-p">Zuivel</p>
                                  </a>
                              </li>
                              <li class="flex-row dropdown-item types">
                                  <a class="dropdown-link" href="/views/fruitsap.html">
                                  <img class="drinks-icon" src="/icons/png/iconfinder_splash-juice-orange-mango-vector-fruit_2832288.png" alt="" >
                                  <p class="dropdown-p">Fruitsap</p>
                                  </a>
                              </li>
                              <li class="flex-row dropdown-item types">
                                  <a class="dropdown-link" href="/views/bier.html">
                                  <img class="drinks-icon" src="/icons/png/iconfinder_l-23_3573685.png" alt="Bier">
                                  <p class="dropdown-p">Bier</p>
                                  </a>
                              </li>
                          </div>
                          <hr/>
                          <!--End first row-->
                          <div class="dropdown-direction w-90 h-2">
                              <li class="flex-row">
                                  <a href="/views/bio.html" class="dropdown-item dropdown-item-specials">Bio</a>
                              </li>
                              <li class="flex-row">
                                  <a href="/views/alcoholvrij.html" class="dropdown-item dropdown-item-specials">Alcoholvrij</a>
                              </li>
                              <li class="flex-row">
                                  <a href="/views/suikervrij.html" class="dropdown-item dropdown-item-specials">Suikervrij</a>
                              </li>
                              <li class="flex-row">
                                  <a href="/views/brugsch.html" class="dropdown-item-specials dropdown-item">Brugsch</a>
                              </li>
                          </div>
                      </div>
                          </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active nav-header" aria-current="page" href="/views/over-ons.html">
                            <img src="/icons/png/about.png" alt="Over ons">
                            <p class="headingP">Over ons</p>
                        </a>
                    </li>
                    <li class="nav-item" id="apero">
                        <a class="nav-link active nav-header"  aria-current="page" href="faq.html">
                            <img src="/icons/png/faq.png" alt="FAQ">
                            <p class="headingP">FAQ</p>
                          </a>
                    </li>
                    <li class="nav-item" id="contact">
                        <a href="/views/contact.html" class="cta">Contacteer ons</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
  </header>

    <!----------------------- Main -------------------------->

    <section id="main">
        <div class="container">
          <div class="container container-header">
            <div class="starter-template mt-4">
              <h1 class="text-light">Ons Verhaal</h1>
              <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-lg-10 ">
                  <div class="group-img-overlay"><img src="../images/deliveryves_61_R0050727.jpg" alt="Group picture" class="img-thumbnail"> </div>
                </div>
              </div> <!--end row -->
            </div> <!-- End starter-template-->
          </div> <!--end container-->
          
          <div class="container">
            <div class="row d-flex justify-content-center">
            <div class="lead">
              <h4>Mag ik u even vertellen waarom ik met dit bedrijfje begon?</h4>
              <p> 
                <br> <br>
                Het zit zo. Drank gaan halen ging als volgt in mijn gezin : na de zoveelste aanmaning van mijn madam ‘dat we al dagen zonder drank zitten’
                sprong ik vaak op vrijdagavond en tegen mijn zin in m’n auto.  Ik hoopte op niet teveel file, niet evident in ‘t stad. Aangekomen aan de drukke
                parking van de supermarkt zocht ik dichte parkeerplek. Eerst veel volk in de supermarkt proberen te passeren met m’n winkelkar door de winkelgangen
                tot aan de drankenafdeling. Daar minstens 3 pakken of bakken uitkiezen en in m’n winkelkar tillen. In mijn geval was dat spuitwater, cola, pilsjes
                en halfvolle melk. Nu aanschuiven aan de kassa, hopend dat de plastic niet scheurt bij het uithalen en alles op de band zetten. Terug inladen en
                afrekenen. En nu met die winkelkar (met vaak verkeerd draaiende wielen) tot aan m’n auto hobbelen over slechte betonnen ondergrond. Dit om te
                constateren dat ik in mijn haast vergeten ben om mijn autokoffer leeg te halen.  Enfin, alles eerst uit de koffer verleggen op de achterbank.
                En op de terugweg weer file. Eindelijk thuis, zo dicht mogelijk parkeren. Weer sleuren met die zware bakken en hopen dat ik het in de berging
                mag plaatsen. Maar meestal hoorde ik dan: ‘zet het maar in de kelder, de berging staat al zo vol’. Eerlijk, leuk vond ik dat niet, 
                week na week. Wat hadden mijn ouders het gemakkelijk vroeger, toen er nog een brouwer aan huis kwam, dacht ik vaak. 
                <br> <br>
                
                Ik kreeg in de laatste jaren een passie voor duurzame, elektrische, lastmile stadswagentjes sinds ik mijn organisatie ‘Open Bedrijvendag’ verkocht en stopte als voorzitter van KV Oostende.
                
                <br> <br>
                
                En toen kwam corona en merkte ik het succes van delivery-services. Als mensen bereid zijn om €5 te betalen voor een lichte maaltijd, moeten ze dat er toch ook voor over hebben voor ‘zware’ dranken, dacht ik. Zo kwam het idee voor mijn nieuw bedrijfje : Waarom de Bruggeling niet helpen met het thuisleveren van zware, maar duurzame dagdagelijkse dranken in glazen flessen? Ja, exact zoals de brouwer en de melkboer van vroeger. 
              
                <br> <br>

                Woont u in Groot Brugge? Dan kan ik bij u leveren. Geef maar een seintje. Bel gerust op 0495/52.75.75 of als je liever mailt is het hello@deliveryves.be. 
                
                </p>
                <div class="d-flex justify-content-center">
                  <h4>Ons Team</h4>
                </div>
              </div>   
            </div> <!--End container row-->
          </div> <!-- end container lead-->

            <div class="row mt-2">
              <div class="col-md-4 col-sm-12 imghov" data-bs-toggle="modal" data-bs-target="#mpieter">
                <img src="../images/deliveryves_9_R0050172.jpg" alt="Default picture of Pieter" class="img-thumbnail">
                <div class="overlay ctr"><h3 class="btn-middle">Click for more...</h3></div>
              </div>
              <div class="col-md-4 col-sm-12 imghov" data-bs-toggle="modal" data-bs-target="#mcaroline">
                <img src="../images/deliveryves_24_R0050352.jpg" alt="Default picture of Caroline" class="img-thumbnail">
                <div class="overlay ctr"><h3 class="btn-middle">Click for more...</h3></div>
              </div>
              <div class="col-md-4 col-sm-12 imghov" data-bs-toggle="modal" data-bs-target="#myves">
                <img src="../images/deliveryves_44_R0050575.jpg" alt="Default picture of Yves" class="img-thumbnail">
                <div class="overlay ctr"><h3 class="btn-middle">Click for more...</h3></div>
              </div>
            </div> <!-- End row-->

            <!--Modal Pieter-->
            <div class="modal fade" id="mpieter" tabindex="-1" aria-labelledby="modalHeaderFooterTitle" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-light" id="modalHeaderFooterTitle">Hoi, ik ben Pieter!</h5>
                    <button type="button btn-sm" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body d-flex flex-row">
                    <img src="../images/deliveryves_6_R0050134.jpg" alt="Fun picture of Pieter" class="resize-img">
                    <div class="about-me-text">
                      <p class="subhead">Muziekfanaat, ik hou van vinyl platen en speel zelf basgitaar in een band.
                        Op andere vrije momenten kan je me vinden met tent en fiets al bikepacken door de natuur.
                        </p>
                    </div>
                  </div>
                </div> <!--Model content-->
              </div> <!--Model dialog-->
            </div> <!--Model-->

            <!--Modal Caroline-->
            <div class="modal fade" id="mcaroline" tabindex="-1" aria-labelledby="modalHeaderFooterTitle" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-light" id="modalHeaderFooterTitle">Hoi, ik ben Caroline!</h5>
                    <button type="button btn-sm" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body d-flex flex-row">
                    <img src="../images/deliveryves_26_R0050363.jpg" alt="Fun picture of Caroline" class="resize-img">
                    <div class="about-me-text">
                      <p>Ik hou van sporten en reizen. Ook cultuur en mooie dingen zijn mijn dada!</p>
                    </div>
                    
                  </div>
                </div> <!--Model content-->
              </div> <!--Model dialog-->
            </div> <!--Model-->

            <!--Modal Yves-->
            <div class="modal fade" id="myves" tabindex="-1" aria-labelledby="modalHeaderFooterTitle" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-light" id="modalHeaderFooterTitle">Hoi, ik ben Yves</h5>
                    <button type="button btn-sm" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body d-flex flex-row">
                    <img src="../images/deliveryves_46_R0050578.jpg" alt="Fun picture of Yves" class="resize-img">
                    <div class="about-me-text">
                      <p>Oprichter, met een topteam van drie personen. Wonend in centrum Brugge, aan de Hoogstraat en de Reien. Sportliefhebber, als kijker vooral. Oprichter en organisator van Open Bedrijvendag in 1990, al lang geleden! Voorzitter KV Oostende van 2009 tot 2016, ontsnapt in 2015 uit de hel van 2de klasse
                        </p>
                    </div>
                  </div>
                </div> <!--Model content-->
              </div> <!--Model dialog-->
            </div> <!--Model-->


    </section> <!-- End Container -->




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html