<!DOCTYPE html>
<html lang="nl">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TF9VS6R');</script>
  <!-- End Google Tag Manager -->
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-9S544K05EP');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/algemene-voorwaarden.css">
  <link rel="icon" href="/logo/DeliverYves.png" type="image/svg+xml" sizes="16x16">
  <title>DeliverYves</title>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF9VS6R" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
    <nav id="navigationHeader" class="navbar navbar-expand-lg navbar-light bg-light rounded"
      aria-label="Eleventh navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"><img id="logoimage" src="/logo/DeliverYvesLogo.svg"
            alt="DeliverYves logo"></a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
          aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active nav-header" aria-current="page"
                href="https://deliveryves.myshopify.com/collections/all">
                <img class="nav-icon" src="/icons/png/cocktail.png" alt="dranken">
                <p class="headingP">Onze webshop</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active nav-header" aria-current="page" href="/views/over-ons.html">
                <img src="/icons/png/about.png" alt="Over ons">
                <p class="headingP">Over ons</p>
              </a>
            </li>
            <li class="nav-item" id="apero">
              <a class="nav-link active nav-header" aria-current="page" href="faq.html">
                <img src="/icons/png/faq.png" alt="FAQ">
                <p class="headingP">FAQ</p>
              </a>
            </li>
            <li class="nav-item" id="contact">
              <a href="/views/contact.html" class="cta">Contacteer ons</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </header>
  <main>
    <div class="container">
      <h1>PRIVACY POLICY</h1>

      <p>Privacyverklaring betreffende de bescherming van de Persoonsgegevens van derden van Out Of The Box bv en
        verbonden vennootschappen
      </p>

      <p>Deze verklaring (hierna “de Verklaring” genoemd) is van toepassing op alle personen (met uitzondering van
        medewerkers) van wie Persoonsgegevens worden verwerkt door Out Of The Box bv, met maatschappelijke zetel te
        Genthof 2, 8000 Brugge, ingeschreven onder het KBO nummer 0880.949.743 en de aan haar verbonden vennootschappen
        (hierna ook genoemd “Out Of The Box bv”, of “Wij”).
        Onder “derden” wordt onder meer verstaan alle contractpartijen, leveranciers, zakenpartners, klanten,
        prospecten, bezoekers en consumenten.
      </p>

      <h2>1. Doel van deze Verklaring</h2>

      <p>Het doel van deze Verklaring is u te informeren over de Persoonsgegevens die over u worden vergaard en over de
        wijze waarop deze worden verwerkt door Out Of The Box bv en de daaraan verbonden rechten.
        Deze Verklaring wordt opgesteld overeenkomstig de bepalingen van:
      </p>

      <ul>
        <li>van de wet van 30 juli 2018 betreffende de bescherming van natuurlijke personen in verband met de verwerking
          van Persoonsgegevens</li>
        <li>Verordening 2016/679 van het Europees Parlement en de Raad van 27 april 2016 betreffende de bescherming van
          natuurlijke personen in verband met de verwerking van Persoonsgegevens en betreffende het vrije verkeer van
          die gegevens (ook gekend onder de benaming “GDPR” en hierna “Algemene Verordening Gegevensbescherming” of
          “AVG” genoemd).
          Via deze Verklaring betreffende de bescherming van de Persoonsgegevens garanderen we dat u:
          <ul>
            <li>op de hoogte blijft van de verwerking van uw Persoonsgegevens en van uw rechten;</li>
            <li> de controle behoudt over de Persoonsgegevens die wij verwerken;</li>
            <li>uw rechten in verband met uw Persoonsgegevens kan uitoefenen.</li>
          </ul>
        </li>

      </ul>

      <h2>2. Definities</h2>

      <p>In het kader van deze Verklaring hebben wij de onderstaande termen als volgt gedefinieerd:
      </p>

      <ul>
        <li>“Persoonsgegevens”: alle informatie over een geïdentificeerde of identificeerbare natuurlijke persoon.</li>
        <li>“Verwerking”: een bewerking of een geheel van bewerkingen met betrekking tot Persoonsgegevens of een geheel
          van Persoonsgegevens, al dan niet uitgevoerd via geautomatiseerde procedés, zoals het verzamelen,
          structureren, opslaan, bijwerken of wijzigen, opvragen, raadplegen, gebruiken, verstrekken door middel van
          doorzending, verspreiden of op andere wijze ter beschikking stellen, combineren, wissen of vernietigen van
          gegevens.</li>
        <li>“Verwerkingsverantwoordelijke”: een natuurlijke persoon of rechtspersoon, een overheidsinstantie, een dienst
          of een ander orgaan die/dat, alleen of samen met anderen, het doel van en de middelen voor de verwerking van
          Persoonsgegevens vaststelt.</li>
        <li>“Verwerker”: een natuurlijke persoon of rechtspersoon, een overheidsinstantie, een dienst of een ander
          orgaan die/dat ten behoeve van de Verwerkingsverantwoordelijke Persoonsgegevens verwerkt.</li>
        <li>“Betrokkene”: een natuurlijke persoon die direct of indirect kan worden geïdentificeerd aan de hand van
          gegevens, met name aan de hand van een identificatiemiddel zoals een naam, een identificatienummer, een
          online-identificatiemiddel of een of meer factoren die specifiek zijn voor zijn of haar fysieke, genetische,
          mentale, economische, culturele of sociale identiteit.</li>
        <li>“Toestemming” van de betrokkene: elke vrije, specifieke, geïnformeerde en ondubbelzinnige wilsuiting waarmee
          de betrokkene door middel van een verklaring of een ondubbelzinnige actieve handeling de hem betreffende
          verwerking van Persoonsgegevens aanvaardt.</li>
        <li>“Inbreuk in verband met Persoonsgegevens”: een inbreuk op de beveiliging die per ongeluk of op onrechtmatige
          wijze leidt tot de vernietiging, het verlies, de wijziging of de ongeoorloofde verstrekking van of de
          ongeoorloofde toegang tot doorgezonden, opgeslagen of anderszins verwerkte Persoonsgegevens.</li>
      </ul>

      <h2>3. Ontvangers van deze Verklaring</h2>

      <p>Deze Verklaring is van toepassing op de verwerking van Persoonsgegevens met betrekking tot :</p>

      <ul>
        <li>onze leveranciers en/of zakenpartners</li>
        <li>onze klanten en/of prospecten</li>
        <li>bezoekers van onze website</li>
        <li>consumenten</li>
      </ul>

      <p>Indien wij Persoonsgegevens van derden (bijv. de naam en contactgegevens van uw partner, kinderen, enz.) die
        door u aan ons zijn verstrekt, verzamelen en verwerken, verzoeken wij u deze derden op de hoogte te stellen van
        de doorgifte van deze gegevens en van het bestaan van deze Verklaring, zodat zij op de hoogte zijn van de
        verwerking die wij op hun Persoonsgegevens uitvoeren en van hun rechten.</p>

      <h2>4. Out Of The Box bv als Verwerkingsverantwoordelijke</h2>

      <h3>4.1. Verwerkingsverantwoordelijke</h3>

      <p>Out Of The Box bv is verantwoordelijk voor de verwerking van Persoonsgegevens die door ons verzameld en/of
        gebruikt worden.
        In het kader van onze activiteiten kan Out Of The Box bv namelijk uw Persoonsgegevens verwerken (door het
        verzamelen, opslaan, enz.). Wij bepalen hiervoor de doeleinden (waarom) en middelen (hoe) van de verwerking van
        uw Persoonsgegevens. Als zodanig worden wij geacht Verwerkingsverantwoordelijke.
        Als Verwerkingsverantwoordelijke besteden wij bijzondere aandacht aan de bescherming van uw privacy en van uw
        Persoonsgegevens en daarom verbinden wij ons ertoe om redelijke en noodzakelijke voorzorgsmaatregelen te nemen
        om uw Persoonsgegevens te beschermen tegen verlies, diefstal, openbaarmaking of ongeoorloofd gebruik.
        Wij behouden ons echter het recht voor om uw Persoonsgegevens mee te delen in overeenstemming met de bepalingen
        die hieronder in de Verklaring zijn opgenomen.
      </p>

      <p>Contactgegevens van de Verwerkingsverantwoordelijke:
      </p>

      <ul>
        <li>Verwerkingsverantwoordelijke: Out Of The Box bv. nv</li>
        <li>E-mail: hello@deliveryves.be</li>
        <li>Adres: Genthof 2, 8000 Brugge.</li>
      </ul>

      <h3>4.2. Privacy verantwoordelijke</h3>

      <p>We hebben een Privacy -verantwoordelijke aangewezen.
        U kunt contact opnemen met de Privacy verantwoordelijke indien u vragen of klachten hebt over de verwerking van
        uw Persoonsgegevens en indien u een van de in punt 10 van de Verklaring beschreven rechten wilt uitoefenen.
      </p>

      <ul>
        Contactgegevens van de Privacy contactpersoon:
        <li>E-mail: hello@deliveryves.be</li>
        <li>Adres: Genthof 2, 8000 Brugge.</li>
      </ul>

      <h2>5. Verwerkte persoonsgegevens</h2>

      <h3>5.1. Persoonsgegevens van onze klanten, prospecten, leveranciers, bezoekers of andere derden die rechtstreeks
        contact opnemen met Out Of The Box bv.</h3>

      <p>In het kader van onze contacten met u en in het kader van de uitvoering van de overeenkomst die wij met u
        hebben
        verzamelen en verwerken wij Persoonsgegevens u betreffende.
        Daarnaast kunnen wij ook Persoonsgegevens van uw bedrijfsvertegenwoordigers, werknemers en/of onafhankelijke
        medewerkers (hierna algemeen “u” of “uw” genoemd) verwerken, die u aan ons verstrekt om het mogelijk te maken
        contact met u op te nemen of nog om de overeenkomst die wij met u hebben te kunnen uitvoeren.
        Indien u ons de Persoonsgegevens van uw vertegenwoordigers, personeelsleden en andere derden verstrekt, dient u
        hen op de hoogte te stellen van het bestaan en de inhoud van deze Verklaring.
      </p>

      <ul>
        Meer bepaald hebben de Persoonsgegevens die wij verwerken betrekking op de volgende gegevens:
        <li>identificatiegegevens zoals naam, voornaam, geslacht, functie en bedrijf etc..,</li>
        <li>contactgegevens zoals telefoonnummer, e-mailadres, etc..,</li>
        <li>financiële gegevens zoals bankrekeningnummer, enz.</li>
      </ul>

      <p>Daarnaast kunnen Persoonsgegevens van klanten en prospecten rechtstreeks bij u worden verzameld wanneer u
        aankopen doet of bestellingen plaatst bij Out Of The Box bv, tijdens promotiecampagnes of een evenement van
        dezelfde aard dat op initiatief van Out Of The Box bv wordt georganiseerd (wedstrijden, aanwezigheid van Out Of
        The Box bv. op beurzen en andere evenementen, …).</p>
      <h3>5.2. Persoonsgegevens van de bezoekers van onze website</h3>
      <ul>Wanneer u onze website www.tdeliveryves.be bezoekt, verzamelen we ook persoonlijke informatie over u. Deze
        zijn
        :
        <li>het IP-adres</li>
        <li>“cookies.”</li>
      </ul>
      <p>cookies” zijn kleine bestanden die door uw browser op uw computer worden opgeslagen en die ons in staat stellen
        om bepaalde informatie over uw gebruik van onze website te verkrijgen (bijv. taalkeuze, duur van uw bezoek aan
        de pagina, voorkeuren etc.). Ze vergemakkelijken met name de navigatie op onze website (door het gebruik van
        zogenaamde noodzakelijke cookies) maar stellen ons ook in staat om de website beter aan te passen aan uw wensen
        en voorkeuren. Meer informatie over dit onderwerp vindt u in ons “cookiebeleid” welk beschikbaar is op onze
        website www.deliveryves.be.</p>
      <h3>5.3. De verwerking van zogenaamde Gevoelige Persoonsgegevens</h3>

      <p>Wij verzamelen of verwerken geen gevoelige Persoonsgegevens, namelijk :</p>

      <ul>
        <li>Persoonsgegevens waaruit de raciale of etnische afkomst, de politieke opvattingen, de godsdienstige of
          levensbeschouwelijke overtuiging of het lidmaatschap van een vakbond blijkt; genetische of biometrische
          gegevens.</li>
        <li>Persoonsgegevens met betrekking tot de gezondheid</li>
        <li>Persoonsgegevens met betrekking tot seksueel gedrag of seksuele geaardheid.</li>
      </ul>
      <p>Wij preciseren dat beelden van bewakingscamera’s geen gevoelige Persoonsgegevens vormen. Als wij dergelijke
        gevoelige Persoonsgegevens zouden ontvangen, verbinden wij ons ertoe deze niet te gebruiken en zo snel mogelijk
        te verwijderen.</p>
      <h2>6. Voor welke doeleinden hebben wij uw Persoonsgegevens nodig?</h2>

      <h3>6.1. Het aanbieden van onze producten en diensten en de goede uitvoering van overeenkomsten</h3>

      <p>Teneinde u bepaalde diensten te kunnen aanbieden en in het kader van de uitvoering van de overeenkomst die wij
        met onze leveranciers, partners en klanten hebben afgesloten of zullen afsluiten zo goed mogelijk te kunnen
        uitvoeren, verwerken wij de Persoonsgegevens van onze leveranciers, partners, klanten, prospecten en
        desgevallend van hun medewerkers..
        Een deel van de informatie die wij u vragen is verplicht en is een voorwaarde voor het sluiten van het met u
        gesloten contract, daar dit noodzakelijke informatie betreft om de overeenkomst naar best vermogen te kunnen
        uitvoeren.
      </p>

      <h3>6.2. De goede werking van onze onderneming</h3>

      <p>Om als onderneming zo goed mogelijk te kunnen functioneren, kunnen wij onder meer uw Persoonsgegevens verwerken
        teneinde :</p>

      <ul>
        <li>onze activiteiten te beheren (voor administratieve doeleinden), om risico’s in verband met onze activiteiten
          te voorkomen (bijvoorbeeld om te voldoen aan bepaalde wettelijke verplichtingen, om risico’s op het gebied van
          het witwassen van geld, fraude, enz. te voorkomen)</li>
        <li>klachten en/of vragen te beheren</li>
        <li>het vereenvoudigen van de uitvoering, het aangaan en/of het beëindigen van contractuele relaties met onze
          klanten en/of leveranciers (bijvoorbeeld door uw Persoonsgegevens die u tijdens een vorig contract hebt
          verzameld opnieuw te gebruiken om een nieuw contract af te sluiten)</li>
        <li>ons in staat stellen onszelf te verdedigen in de rechtszaal, onze rechten uit te oefenen en te waarborgen en
          de rechten van de mensen die wij vertegenwoordigen in de rechtszaal te beschermen, hieronder begrepen om ze te
          gebruiken als bewijs in een mogelijk geschil (met inbegrip van Persoonsgegevens met betrekking tot een
          transactie/contractuele relatie)</li>
        <li>...</li>
      </ul>

      <p>Dit kadert in ons gerechtvaardigd belang als onderneming belangen en/of is desgevallend gebaseerd op de
        wettelijke verplichtingen die op ons rusten (op het gebied van fiscaliteit, boekhoudkundig bewijs, etc.)
      </p>
      <h3>6.3. Marketingactiviteiten</h3>
      <p> Uw persoonsgegevens kunnen gebruikt worden teneinde reclame te maken voor onze producten en diensten en/of
        nieuwsbrieven uit te sturen indien:</p>
      <ul>
        <li>u reeds klant bent bij ons</li>
        <li>u eerder toestemming gegeven om dit soort communicatie te ontvangen.</li>
      </ul>
      <p>Daarnaast kunnen we ook evenementen organiseren zoals “wedstrijden” waarvoor we uw Persoonsgegevens verzamelen
        in het kader van dit evenement, als u ervoor kiest om deel te nemen.</p>

      <h3>6.4. Beveiliging van onze activa en ons personeel</h3>

      <p>Op basis van ons gerechtvaardigd belang om onze eigendommen (voorraad, enz.) en ons personeel veilig te
        stellen, hebben we ervoor gekozen om bewakingscamera’s te installeren o.a. op de parking van onze magazijnen.
        De beelden van de bewakingscamera’s worden automatisch opgenomen en gewist na ongeveer 5 maanden na de opname.
        Deze periode is bij benadering en kan meer of minder lang zijn, afhankelijk van de hoeveelheid op te slaan
        beelden.
      </p>
      <h3>6.5. Beveiliging van de website</h3>

      <p>Op basis van ons gerechtvaardigd belang bij het beveiligen van onze website www.deliveryves.be, verzamelen en
        verwerken wij uw IP-adres.</p>

      <h3>6.6. Gebruik van cookies</h3>
      <p>Tijdens het surfen op onze website www.deliveryves.be, installeren we “cookies” :</p>
      <ul>
        <li>die nodig zijn voor de goede werking van onze website, op basis van ons legitieme belang om u een
          functionele website te bieden</li>
        <li> voor het analyseren van uw surfgedrag op onze website alleen als u daarvoor vooraf toestemming heeft
          gegeven.</li>
      </ul>
      <p>Indien u meer informatie wenst over het gebruik van onze cookies, hun opslagtijden, enz., verwijzen wij u naar
        ons cookiebeleid dat beschikbaar is op onze website www.deliveryves.be.</p>
      <h3>6.7. Gebruik van sociale media</h3>
      <p>Om onze aanwezigheid op het internet te vergroten en om dichter bij onze klanten en toekomstige klanten te
        staan, zijn we ook aanwezig op sociale media zoals Facebook, Instagram.
        Door deze websites te bezoeken, kunt u, op vrijwillige basis, een deel van uw Persoonlijke Informatie
        rechtstreeks met ons delen door contact met ons op te nemen, commentaar te geven en/of onze publicaties te
        delen.
        Daarnaast raden wij u aan de privacyverklaring te lezen die deze derden op hun website hebben gepubliceerd om op
        de hoogte te zijn van de verwerking van uw Persoonsgegevens door deze derden in hun hoedanigheid van
        verantwoordelijke voor de verwerking van uw Persoonsgegevens.
        Meer bepaald verwerkt Out Of The Box bv uw Persoonsgegevens op basis van de hieronder uiteengezette
        rechtsgronden.
      </p>
      <h2>7. Wat is de wettelijke basis voor de verwerking van Persoonsgegevens?</h2>

      <p>Wij gebruiken en verwerken uw Persoonsgegevens enkel indien aan een van de volgende voorwaarden is voldaan:</p>
      <ul>
        <li>Het gebruik van uw Persoonsgegevens is noodzakelijk voor de uitvoering van een overeenkomst die u met ons hebt gesloten of om de nodige stappen te ondernemen om deze overeenkomst te sluiten.</li>
        <li>Het gebruik van uw Persoonsgegevens gebeurt in het kader van onze gerechtvaardigde belangen en in overeenstemming met uw belangen en rechten.</li>
      </ul>
      <p>Dit zal met name het geval zijn met betrekking tot:</p>
      <ul>
        <li>het gebruik van bewakingscamera’s</li>
        <li>het verzenden van commerciële informatie of reclame naar bestaande contactpersonen</li>
        <li>de in punt 6.2 van deze Verklaring genoemde doeleinden.</li>
      </ul>
      <p>We zijn wettelijk verplicht bepaalde Persoonsgegevens te verwerken en desgevallend mee te delen aan de bevoegde autoriteiten (bv. in het kader van een audit). We hebben uw vrije en uitdrukkelijke toestemming om uw Persoonsgegevens voor een welbepaald doel te gebruiken. Indien u nog geen relatie met ons heeft, vragen wij u immers uw toestemming om u te contacteren voor direct-marketingdoeleinden.</p>

      <h2>8. Met wie delen wij uw Persoonsgegevens?</h2>
      <ul>
        <li>Enkel de medewerkers die voor de uitvoering van hun professionele taken toegang nodig hebben tot de Persoonsgegevens krijgen er toegang toe. Zij handelen onder ons toezicht en wij zijn verantwoordelijk voor hen.</li>
        <li>Wij doen daarnaast een beroep op externe leveranciers die bepaalde verwerkingen op zich nemen, zodat wij u onze producten en diensten, meer bepaald ICT-diensten en juridische, financiële, boekhoudkundige en andere diensten kunnen aanbieden. Gezien het feit dat deze derden voor de uitvoering van de gevraagde diensten toegang (kunnen) hebben tot Persoonsgegevens, hebben we technische, organisatorische en contractuele maatregelen getroffen om ons ervan te verzekeren dat uw persoonsgegevens uitsluitend worden verwerkt en gebruikt voor de in punt 6  van deze Verklaring vermelde doeleinden.</li>
        <li>Wanneer wij daartoe wettelijk verplicht zijn, kunnen wij uw Persoonsgegevens verstrekken aan controleautoriteiten, fiscale instanties en onderzoeksdiensten.</li>
      </ul>

      <h2>9. Waar bewaren en verwerken wij uw Persoonsgegevens?</h2>

      <p>De Persoonsgegevens zullen niet worden overgedragen buiten de Europese Unie (hierna “EU”) en/of de Europese Economische Ruimte (hierna “EER”). Indien Out Of The Box bv voornemens zou zijn deze op te slaan en/of te verwerken buiten de EU of EER, zullen wij dit expliciet melden en ervoor zorgen dat hetzelfde beschermingsniveau gegarandeerd wordt.
        Indien we een beroep doen op verwerkers in de zin van de AVG, kunnen de Persoonsgegevens worden doorgestuurd naar de landen waar de datacenters van deze verwerkers zich bevinden.
        Met deze verwerkers sluiten wij een overeenkomst waarbij deze verwerkers dezelfde mate van bescherming garanderen als Out Of The Box bv voor binnen de EU of EER opgeslagen Persoonsgegevens.
        </p>

        <h2>10. Hoelang bewaren wij uw Persoonsgegevens?</h2>
        <p>We bewaren uw Persoonsgegevens uitsluitend voor zover dat noodzakelijk is om de onder punt 6 van deze Verklaring vermelde doeleinden te bereiken. Eventuele afwijkingen of toelichtingen van dit principe worden uitdrukkelijk aangegeven bij de verschillende onder punt 6 vermelde doeleinden van deze Verklaring.
          Gezien het feit dat de noodzaak om Persoonsgegevens te bewaren afhangt van het type van Persoonsgegevens en van het doel van de verwerking, kunnen de bewaartermijnen aanzienlijk verschillen.
         Dit zijn de criteria waarop wij ons baseren om de bewaartermijnen te bepalen:
         </p>

         <ul>
           <li>Hoe lang hebben we de Persoonsgegevens nodig om de gevraagde dienst te kunnen leveren of de overeenkomst uit te voeren?</li>
           <li>Hebben wij een specifieke bewaartermijn vastgelegd en aangekondigd?</li>
           <li>Hebben wij de toestemming gekregen om de bewaartermijn te verlengen?</li>
           <li>Zijn wij onderworpen aan een wettelijke, contractuele of vergelijkbare verplichting?</li>
           <li>Dienen de Persoonsgegevens langer te worden bewaard in het kader van een (mogelijk) geschil?</li>
           <li>Hebben wij een gerechtvaardigd belang om langer te bewaren?</li>
         </ul>  

         <p>Zodra wij uw Persoonsgegevens niet langer nodig hebben om het beoogde doel te bereiken en/of wij niet meer wettelijk verplicht zijn ze te bewaren, zullen wij ze definitief wissen of, indien dit onmogelijk blijkt, anonimiseren wij ze in ons systeem.</p>

         <h2>11. Wat zijn uw rechten</h2>
         <h3>11.1.  Uw rechten</h3>

         <p>U heeft bepaalde rechten met betrekking tot de verwerking van uw Persoonsgegevens door Out Of The Box bv. Hieronder vindt u een overzicht van deze rechten.</p>
         <h4>11.1.1. Recht of informatie</h4>
         
          <p>U heeft het recht om ten laatste op het moment van het verzamelen van uw Persoonsgegevens geïnformeerd te worden over de verwerking die wij uitvoeren, uw rechten die hierop betrekking hebben en de uitoefening van deze rechten. Daarom hebben wij deze Verklaring opgesteld.</p> 

          <h4>11.1.3. Recht van wissing en rectificatie</h4>

          <p>U hebt het recht om de wissing of rectificatie van foute, onvolledige, ongepaste of verouderde Persoonsgegevens te verzoeken.</p>

          <h4>11.1.4. Recht of vergetelheid</h4>

          <p>U heeft het recht om de wissing van uw Persoonsgegevens te verkrijgen als:</p>

          <ul>
            <li>de Persoonsgegevens niet meer nodig zijn voor het beoogde doel, onder meer de uitvoering van de overeenkomst</li>
            <li>het voorwerp van de verwerking is onrechtmatig</li>
            <li>terecht bewaar wordt gemaakt tegen de verwerking.We kunnen de vereiste Persoonsgegevens echter bewaren als bewijsmateriaal.</li>
          </ul>

          <h4>11.1.5. Recht op overdraagbaarheid</h4>

          <p>Wat de Persoonsgegevens betreft die verwerkt worden op basis van uw toestemming of omwille van hun noodzaak voor de levering van de gevraagde producten of diensten zal Out Of The Box bv op uw verzoek en voor zover dit technisch mogelijk is, u of de derde die u heeft aangeduid in een digitaal, leesbaar en gestructureerd formaat een kopie van de door u overgemaakte Persoonsgegevens ter beschikking stellen.</p>

          <p>De privacywet beperkt dit recht tot de Persoonsgegevens die door uzelf ter beschikking werden gesteld van de werkgever.</p>

          <h4>11.1.6. Recht of beperking van de behandeling</h4>

          <p>U hebt het recht om de beperking van de verwerking van uw Persoonsgegevens te vragen. Zo kunnen wij de verwerking die wij uitvoeren tijdelijk en/of gedeeltelijk stopzetten (bevriezen). U kunt een bepaalde verwerking of alle verwerkingen die wij op uw Persoonsgegevens uitvoeren permanent stopzetten door een beroep te doen op het recht van bezwaar.</p>

          <h4>11.1.7. Recht of het intrekken van uw toestemming</h4>

          <p>Indien de verwerking gebaseerd is op uw toestemming, hebt u te allen tijde het recht die toestemming in te trekken.</p>

          <h4>11.1.8. Recht van bezwaar tegen bepaalde verwerkingen</h4>

          <p>Indien u het niet eens bent met de wijze waarop Out Of The Box bv bepaalde Persoonsgegevens verwerkt in functie van onze gerechtvaardigde belangen, heeft u het recht daartegen bezwaar te maken.</p>

          <p>U heeft tevens het recht de verwerking van uw Persoonsgegevens voor direct-marketingdoeleinden aan te vechten, indien u geen dergelijke communicatie (meer) van ons wenst te ontvangen. Uw verzoek wordt zo snel mogelijk in overweging genomen, waarna wij uw Persoonsgegevens niet langer voor dergelijke doeleinden zullen verwerken.</p>

          <h3>11.2. Uitoefening van de rechten inzake gegevensbescherming</h3>

          <p>Om de bovenvermelde rechten uit te oefenen, moet u uw schriftelijke aanvraag dateren en ondertekenen en er een kopie van uw identiteitskaart bij voegen.
            Indien u bovengenoemde rechten wenst uit te oefenen of vragen of klachten heeft over de verwerking van uw Persoonsgegevens, kunt u contact met ons opnemen via de volgende kanalen:
            Per e-mail aan de Privacy verantwoordelijke: hello@deliveryves.be
            Per post op het volgende adres: Genthof 2, 8000 Brugge
            Deze aanvraag is kosteloos, behalve in geval van aanvragen die door de Verwerkingsverantwoordelijke als kennelijk ongegrond of buitensporig worden beoordeeld (met name wegens hun repetitieve karakter).
            De Verwerkingsverantwoordelijke kan eveneens de betaling eisen van redelijke kosten op basis van de administratieve kosten voor elke bijkomende kopie die wordt gevraagd.
            Deze aanvraag tot het verkrijgen van een kopie van de Persoonsgegevens wordt binnen de maand verwerkt. Deze termijn kan eventueel met twee maanden worden verlengd, mede gelet op de complexiteit en het aantal aanvragen. In geval van verlenging van de termijn wordt u hiervan op de hoogte gebracht en de redenen worden u meegedeeld.
            De Verwerkingsverantwoordelijke verwittigt derden aan wie de Persoonsgegevens werden meegedeeld van elke uitgevoerde rectificatie, wissing of beperking, indien dit niet onmogelijk blijkt en/of indien dit geen onevenredige inspanning veroorzaakt.
            Indien u meent dat Out Of The Box bv geen gevolg heeft gegeven aan uw verzoek, indien u commentaar hebt bij de uitoefening van uw rechten, of indien u van oordeel bent dat de verwerking van uw Persoonsgegevens niet in overeenstemming is met de wetgeving, kan een klacht worden ingediend bij de Belgische Gegevensbeschermingsautoriteit.
            Hieronder vindt u de contactgegevens van de Gegevensbeschermingsautoriteit:
            </p>

            <ul>
              <li>Telefoon : 02/274.48.00</li>
              <li>E-mail : contact@apd-gba.be</li>
              <li>Website : https://www.gegevensbeschermingsautoriteit.be/</li>
              <li>Drukpersstraat 35, 1000 Brussel</li>
            </ul>

            <h3>11.3 Beveiliging van de Persoonsgegevens</h3>

            <p>Uw Persoonsgegevens worden als strikt persoonlijk beschouwd. Out Of The Box bv treft passende technische en organisatorische maatregelen om de Persoonsgegevens te beschermen tegen vernietiging, verlies, onbedoelde wijziging, beschadiging, toevallige of onwettige toegang of een andere ongerechtvaardigde gegevensverwerking.
              In geval van een inbreuk op de Persoonsgegevens (bijvoorbeeld vernietiging, verlies, wijziging, toevallige of illegale toegang, enz.) binnen Out Of The Box bv, en als deze inbreuk op de Persoonsgegevens een hoog risico blijkt te vormen voor uw rechten en vrijheden, zullen wij u zo snel mogelijk op de hoogte brengen.
              </p>

              <h3>11. Kennisgeving en wijziging van deze Verklaring</h3>

              <p>Deze verklaring wordt gepost op de website van Out Of The Box bv - deliveryves.be en verbonden vennootschappen.
                Out Of The Box bv behoudt zich het recht voor deze Verklaring te wijzigen en te allen tijde bij te werken.
                Bij belangrijke wijzigingen zal de wijzigingsdatum worden bijgewerkt.
                Wij moedigen u aan deze Verklaring regelmatig te raadplegen, zodat u op de hoogte blijft van de manier waarop wij uw Persoonsgegevens verwerken en beschermen.
                </p>

                <p>Laatste update: december 2021</p>




         




    </div>

  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html